@tailwind base;
@tailwind components;
@tailwind utilities;

/* Você ainda pode usar as variáveis CSS se preferir */
:root {
  --color-1: #ffffff;
  --color-2: #007b80;
  --color-3: #ff9d00;
  --color-4: #e0ffff;
  --color-5: #ffffe0;
}
